<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="utf-8">
    <title>Angular Js Visualization Module - SearchBlox</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="bower_components/nvd3/nv.d3.css">
    <link rel="stylesheet" href="bower_components/jqcloud2/dist/jqcloud.min.css">
    <link rel="stylesheet" href="bower_components/ng-table/dist/ng-table.css"/>
    <link rel="stylesheet" href="bower_components/ng-tags-input/ng-tags-input.css"/>
    <link rel="stylesheet" href="style/app.css"/>
</head>
<body>

<div class="container margin" ng-controller="homeController">
    <div class="border row well">
        <div class="col-md-6">
            <p>Question</p>
        </div>
        <div class="col-md-6">
            <select class="border pull-right form-control" ng-model="questionSelected" ng-options="item as item for item in listOfQuestions" ng-change="selectQuestion()">
                <option value="">Select Question</option>
            </select>
        </div>
    </div>
    <div class="border row well">
        <div class="col-md-6">
            <p>Division</p>
        </div>
        <div class="col-md-6">
            <select class="border pull-right form-control" name="first"  ng-model="divisionSelected" ng-options="item as item for item in divisions" ng-change="selectDivision()">
                <option value="">Select Division</option>
            </select>
        </div>
    </div>
    <div class="chart_container row">
        <div class="border pull-left col-md-6">
            <span style="cursor:pointer;" ng-if="filterSentiment" class="label label-success" ng-click="clearSentimentFilter()">{{filterSentiment}} <i class="glyphicon glyphicon-remove-circle"></i></span>
            <div id="chart" class="span4 chart chart-doughnut">
                <nvd3 options="options" data="data"></nvd3>
            </div>
        </div>
        <div class="border col-md-6 pull-right">
            <span style="cursor:pointer;" ng-if="filterQuestion" class="label label-success" ng-click="clearQuestionFilter()">{{filterQuestion}} <i class="glyphicon glyphicon-remove-circle"></i></span>
            <div class="chart_right_text">
                <p>
                    <jqcloud words="word" height="366" colors="{{colors}}" delay="10" steps="7" font-size="{from:0.10, to:0.04}"></jqcloud>
                </p>
            </div>
        </div>
    </div>
    <div class="row well" style="height: 100px;border: 2px solid #000000">
      <b>  Search </b>:
        <input type="text" ng-model="Search"  class="form-control"/>
    </div>
    <div class="post_wrapper border row well" class="table">
        <div class="col-md-12">
            <div class="post">
                <div class="row">
                    <table ng-table="responseTableParams" class="table table-striped">
                        <thead></thead>
                        <tbody>
                        <tr ng-repeat="res in $data | filter:Search">
                            <td>
                                <div class="row">
                                    <div class="col-md-8 pull-left">
                                        <h3>
                                            <a href="#"></a>
                                        </h3>
                                    </div>
                                    <div class="col-md-4 pull-right">
<!--
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-positive" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                                <span class="sr-only">20% Complete (success)</span>
                                            </div>
                                        </div>
-->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>
                                            {{res}}
                                        </p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot></tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.container-fluid -->
<div id="loading">
    <img src="images/loading.gif" class="ajax-loader"/>
</div>


<!--bower libs-->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/jqcloud2/dist/jqcloud.min.js"></script>
<script src="bower_components/angular-jqcloud/angular-jqcloud.js"></script>
<script src="bower_components/d3/d3.js"></script>
<script src="bower_components/nvd3/nv.d3.js"></script> <!-- or use another assembly -->
<script src="bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
<script src="bower_components/ng-table/dist/ng-table.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/angular-underscore-module/angular-underscore-module.js"></script>
<script src="bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
<!--custom js-->
<script src="js/app.js"></script>
<script src="js/constants.js"></script>
<script src="js/service/searchService.js"></script>
<script src="js/controller/homeController.js"></script>
<!--custom js-->
</body>
</html>
