body {
    margin-top:10px;
}
.chartjs {

    width: 544px;
    min-height: 355px;
    background-color: #ffffff;
    margin: 5px auto 0 auto;
    border: 1px solid #e8e8e8;
    /*width: 300px;*/
    /*min-height: 240px;*/
    /*background-color:#ffffff;*/
    /*margin: 5px auto 0 auto;*/
    /*border: 1px solid #e8e8e8;*/
}
.condition-button {
    width: 300px;
    margin: 15px auto;
    margin-left: 150px;
}
.chart_right_text {
    width: 100%;
    min-height: 270px;
    background-color:#ffffff;
    margin: 10px auto 10px auto ;

}
.border {
    border: 2px solid #696969 !important;
}
.chart_container .col-md-6 {
    width: 49.5%;
    background-color: #f5f5f5;
    min-height:391px ;
}
.chart_container {
    margin-bottom: 20px;
}
.post_wrapper {
    background-color:#f5f5f5;
}
.post {
    background-color: #ffffff;
    width: 100%;
    padding: 20px;
    min-height:300px;
}
.post .row, .post .row .col-md-8 {
    padding: 0;
}
.post .row .col-md-8 h3 {
    font-size:20px;
    margin: 0 13px;
}
.border.form-control {
    /*width: 70%;*/
}
svg{
    height: 450px;
    margin-top: -113px;
}
.nv-legendWrap{
    display: none;
}
canvas{
    margin-top: 11%;
}

div.jqcloud span[class^="w"] {
    cursor: pointer;
}
#loading {
    display: none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    background-color:grey;
    opacity: .8;
}
@media screen and (max-width:420px) {
   /* .post > .row > div > div > div > div {
        float: none !important;
        margin:0 !important;
    }*/
}